{% extends 'main/base.html' %}
{% block title %}
    <title>Title</title>
{% endblock %}
{% block header %}
    Главная страница
{% endblock %}
{% block content %}
    <div class="col-md-3" id="chats_list">
        <p class="lead block-name">List of chats</p>
        <div class="container-fluid">
            <div class="row">
                <ul class="nav justify-content-left nav-pills" id="clients">
                    {% for client in clients %}
                        <li class="nav-item">
                            <a class="nav-link client" href="#" id="{{ client.user.username }}">
                                <span class="avatar mr-2"><img src="{{ client.profile_pic_url }}"></span>
                                {{ client.user.last_name }} {{ client.user.first_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9" id="chat_window">
        <p class="lead block-name">Chat Window</p>
        <div class="container-fluid" id="chat_messages">
        </div>

        <div class="input-group flex-nowrap pb-2">
            <input type="text" class="form-control" placeholder="Введите сообщение" aria-label="Message"
                   aria-describedby="button-send" name="message" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-send" disabled>Button</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_script %}
    <script>
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var Socket = new ReconnectingWebSocket(
            ws_scheme + '://' + window.location.host +
            '/ws/fb-messages/');

        Socket.onopen = function () {
            console.log("Connection successful.");
        };

        Socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            if (data['message']['type'] == 'message_html') {
                // if message triggered
                if (data['message']['block_type'] == 'message') {
                    var $active_client = $('a.client.active');
                    // post message to page only if client selected
                    if ($active_client) {
                        if ($active_client.attr('id') == data['message']['client_id']) {
                            var $chat_window = $('#chat_messages');
                            if (!$('#' + data['message']['message_id']).length) {
                                $chat_window.append(data['message']['html_code']);
                            }
                            // keep eyes on buttom of scrolled block
                            $chat_window.scrollTop($chat_window.prop('scrollHeight') - $chat_window.height());
                        }
                    }
                }
                // if new client sent message to app
                else if (data['message']['block_type'] == 'client') {
                    $('#clients').append(data['message']['html_code']);
                    activate_listeners()
                }
            }
        };

        Socket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('input[name="message"]').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#button-send').click();
                $(this).val('');
            }
        };

        $('#button-send').on('click', function () {
            Socket.send(JSON.stringify({
                'type': 'send_message',
                'message': $(this).closest('div.input-group').find('input[name="message"]').val(),
                'client_id': $('a.client.active').attr('id')
            }));
        });

        function activate_listeners() {
            var clients = document.querySelectorAll('a.client');
            for (var i = 0; i < clients.length; i++) {
                clients[i].addEventListener('click', function (e) {
                    // clear chat messages
                    $('#chat_messages').empty();

                    // remove active from others
                    $(clients).removeClass('active');
                    $(this).addClass('active');

                    // remove disabled attrs from input group
                    $('#button-send').removeAttr('disabled');
                    $('input[name="message"]').removeAttr('readonly');

                    // get messages from the server
                    Socket.send(JSON.stringify({
                        'type': 'get_messages',
                        'client_id': $(this).attr('id')
                    }));
                }, (i));
            }
        }

        $(document).ready(activate_listeners);
    </script>
{% endblock %}