<div class="row message {{ author }} p-1" id="{{ message_id }}">
    <div class="text">
        <div class="senderName">
            {% if client_msg %}
                <span class="avatar"><img src="{{ client_profile_pic }}"></span>
                <span>{{ client_name }}</span>
            {% else %}
                <span>Вы</span>
            {% endif %}
            <div class="datetime">
                <span class="dtString">{{ date }}</span>
            </div>
        </div>
        <span class="messageText">{{ message_text }}</span>
        <div class="datetime time">
            <span class="dtString">{{ time }}</span>
        </div>
    </div>
</div>